.art-content {
  flex-direction: column;
}
.contActive {
  display: flex;
}
.headNav {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap-04);
}
/* Menu */
.menuSlide {
  display: flex;
  align-items: center;
  gap: var(--gap-04);
}
.mS-menu {
  padding: 0.5rem 0.25rem;
  color: var(--text-01);
  font-weight: 500;
  cursor: pointer;
  opacity: 0.5;
  position: relative;
  transition: var(--anima-01);
}
.mS-menu::after {
  content: '';
  height: 2px;
  width: 0%;
  display: block;
  position: absolute;
  left: 50%;
  bottom: 0;
  border-radius: var(--radius-01);
  background: var(--brand-01);
  transition: var(--anima-01);
}
.mS-menu:hover:after {
  width: 100%;
  left: 0;
}
.mS-menu:hover {
  color: var(--brand-01);
  opacity: 1;
}
.mS-menu.menuActive {
  color: var(--brand-01);
  opacity: 1;
}
.mS-menu.menuActive:after {
  width: 100%;
  left: 0;
}

/* ===== SLIDESHOW ===== */
.slideshow {
  height: 80vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  border: none;
}

/* ===== SLIDE ===== */
.slide {
  padding-left: 0.75rem;
  display: flex;
  align-items: center;
  position: absolute;
  inset: 0;
  opacity: 0;
  transform: translateX(-100%);
  transition:
    transform 0.6s ease,
    opacity 0.6s ease;
}
.slide.from-left {
  transform: translateX(-100%);
}
.slide.active {
  opacity: 1;
  transform: translateX(0);
}

/* ===== BG (50%) ===== */
.slide-bg {
  width: 60%;
  height: max-content;
  background-size: cover;
  border: 2px solid var(--brand-01);
  border-radius: var(--radius-03);
  transition: var(--anima-01);
}
.slide-bg:hover {
  border: 2px solid var(--brand-01);
  box-shadow: var(--shadow-block);
  transform: translateY(-4px);
}

/* ===== CONTENT (50%) ===== */
.slide__content {
  width: 40%;
  height: 100%;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--text-01);
  animation: fade-in 0.8s ease forwards;

  & h2 {
    font-size: 1.75rem;
  }
  & strong {
    color: var(--brand-01);
  }
  & a {
    width: min-content;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    gap: var(--gap-01);
  }
}
.subtitle {
  color: var(--text-02);
}
/* animação leve */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateX(20px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
