/* ========== GLOBALS ========== */
body {
  background: var(--bg-01);
  color: var(--text-01);
  font-family: var(--font-sans);
  overflow-x: hidden;
  transition: var(--anima-01);
}

a {
  text-decoration: none;
  color: inherit;
  transition: color var(--anima-01);
}

a:hover {
  color: var(--brand-01);
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
  line-height: 1.2;
}

input,
button,
textarea,
select {
  font-family: inherit;
}
