/* Reset */
@import url(./_reset.css);
@import url(./_global.css);
@import url(./_variables.css);

/* Layout */
@import url(./layout/header.css);
@import url(./layout/main.css);
@import url(./layout/footer.css);

/* Components */
@import url(./components/slide-dev.css);
@import url(./components/slide-design.css);
@import url(./components/slide-editor.css);
